.events{
    display: flex;
    flex-direction: column;
}
.events h1{
    font-weight: 700;
    font-size: 30px;
    color: #293c6d;
}
.event-list{
    display: flex;
    flex-direction: column;
}
.event-item{
    padding: 10px 0px;
}
.event-item h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.event-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}
.event-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-content img{
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}
.event-content p{
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}
.carousel-container {
    max-width: 350px;
}

@media screen and (min-width: 1000px) {
    .events h1{
        font-size: 40px;
    }
    .event-item h2{
        font-size: 24px;
    }
    .event-content p{
        font-size: 20px;
    }
    .event-content img{
        max-width: 500px;
    }
    .carousel-container {
        max-width: 600px;
    }
}

.event-maincontent img {
    object-fit: cover; /* Ensure images cover the entire container */
    height: 220px;
    width: 100%;
  }

.event-maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;  
    align-items: center;
    gap: 10px 0px;
}
